<!DOCTYPE html>
<html>
<head>
    <title>Music Agent</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
	<script src="{{ url_for('static', path='/script.js') }}"></script>
</head>
<body>
    <h1>Добро пожаловать в Music Agent!</h1>
    <form action="/generate-audio" method="post">
        <input type="text" name="prompt" placeholder="Опишите музыку" required>
        <button type="submit">Создать аудио</button>
    </form>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>